.top_menu {
	-webkit-box-shadow:rgba(0, 0, 0, 0.398438) 0 2px 4px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border: solid 1px #000;
	border-radius: 5px;
	padding: 10px;
	margin-top: 40px;
/*	margin-bottom: 20px;*/
	background: url(../images/menu_background.png);
	background-repeat: repeat;
}

.top_menu_admin {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border: solid 1px #000;
	border-radius: 5px;
	padding: 10px;
	margin-top: 40px;
/*	margin-bottom: 20px;*/
	background: url(../images/menu_background.png);
	background-repeat: repeat;
}

.body_container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border: solid 1px #000;
	border-radius: 5px;
	padding: 10px;
	background-color: #FFF;
	position: relative;
	-webkit-box-shadow:rgba(0, 0, 0, 0.398438) 0 2px 4px;
}

.header_container {
	width: 1020px;
	height: 325px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	border: solid #000 1px;
	border-radius: 5px;
	background: #618BCE url('../images/header.png') ;
	background-size: 1020px;
	position: relative;
	-webkit-box-shadow:rgba(0, 0, 0, 0.398438) 0 2px 4px;
}

.middle_banner {
	position: absolute;
	left: 0px;
	top: 210px;
}

.middle_banner #header_welcome {
	width: 1020px;
	height: 100px;
	background: url("../images/header_welcome.png") no-repeat top left;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: block;
}

.middle_banner #header_classifieds {
	width: 1020px;
	height: 100px;
	background: url("../images/header_classifieds.png") no-repeat top left;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: block;
}

.middle_banner #header_contact {
	width: 1020px;
	height: 100px;
	background: url("../images/header_contact.png") no-repeat top left;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: block;
}

.header_menu {
	height: 200px;
	position: relative;
}

/*MAIN MENU*/

.main_menu {
	position: absolute;
	left: 790px;
	bottom: -10px;
}

.main_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main_menu li {
	float: left;
	margin: 0;
	padding: 0;
}

.main_menu li a:link, .main_menu li a:visited {
	font-family: "Trebuchet MS", sans-serif;
	display: block;
	color: #FFF;
	text-decoration: none;
	height: 22px;
	background: url(../images/main_menu.png) no-repeat bottom left;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	line-height: 23px;
}

.main_menu li a:hover {
	background: url(../images/main_menu.png) no-repeat top left;
	color: #FC0;
}

.main_menu li a.current {
	margin-top: -6px;
	height: 28px;
	line-height: 29px;
	background: url(../images/main_menu_active.png) no-repeat bottom left;
	color: #FC0;
}

.main_menu li a.current:hover {
	cursor: default;
}


#home_button {
	position: absolute;
	left: 550px;
	top: -10px;
}

#home_button a:link, #home_button a:visited {
		width: 146px;
		height: 50px;
		text-indent: 55px;
		line-height: 38px;
		color: #FFF;
		background: url(../images/home.png) no-repeat top left;
		display: block;
		text-decoration: none;
}

#home_button a:hover {
		width: 146px;
		height: 50px;
		text-indent: 55px;
		line-height: 38px;
		color: #FFF;
		background: url(../images/home.png) bottom left;
		display: block;
		text-decoration: none;
		border: none;
}

#contact_button {
	position: absolute;
	left: 850px;
	top: -10px;
}

#contact_button a:link, #contact_button a:visited {
		width: 146px;
		height: 50px;
		text-indent: 55px;
		line-height: 38px;
		color: #FFF;
		background: url(../images/contact.png) no-repeat top left;
		display: block;
		text-decoration: none;
}

#contact_button a:hover {
		width: 146px;
		height: 50px;
		text-indent: 55px;
		line-height: 38px;
		color: #FFF;
		background: url(../images/contact.png) bottom left;
		display: block;
		text-decoration: none;
		border: none;
}

#classifieds_button {
	position: absolute;
	left: 700px;
	top: -10px;
}

#classifieds_button a:link, #classifieds_button a:visited {
		width: 146px;
		height: 50px;
		text-indent: 55px;
		line-height: 38px;
		color: #FFF;
		background: url(../images/classifieds.png) no-repeat top left;
		display: block;
		text-decoration: none;
}

#classifieds_button a:hover {
		width: 146px;
		height: 50px;
		text-indent: 55px;
		line-height: 38px;
		color: #FFF;
		background: url(../images/classifieds.png) no-repeat bottom left;
		display: block;
		text-decoration: none;
		border: none;
}


.ad_body {
/*  padding-bottom:10px;
  padding-left:0;
  padding-right:0;
  padding-top:15px;
  position:relative;*/
	width:680px;
/*	border: dashed 1px red;*/
}

.ad_box {
  border-bottom-color:#CCCCCC;
  border-bottom-style: dashed;
  border-bottom-width:1px;
  padding-bottom:10px;
  padding-left:0;
  padding-right:0;
  padding-top:15px;
  width:680px;
	float: left;
}

.ad_detail {
	width: 475px;
	float: left;	
/*	border: dashed 1px;*/
}

.ad_image {
	margin-right: 15px;
	float: left;
	width: 100px;
}

.ad_title {
	margin-bottom: 0px;
	padding-bottom: 0px;
/*	border: dashed 1px;	*/
	font-weight: bold;
	color: #1B9D95;
}

.ad_title a:link, .ad_title a:visited {
	color: #1B9D95;
	text-decoration: none;
}

.ad_title a:hover {
	text-decoration: underline;
	background: none;
}

.ad_time {
/*  clear:right;*/
  color:#555555;
  font-size:11px;
/*  font-weight:bold;*/
  padding-bottom:6px;
/*  padding-top:5px;*/
/*	border: dashed 1px;*/
}

.ad_more_box {
	margin: 0px;
	padding: 0px;
	float:right;
  text-align: left;
  width:80px;
	height: 100px;
	text-indent: 20px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	font-family: "Trebuchet MS"	;
	background: url("../images/pricetag.png") no-repeat;
	position: block;
/*	border: dashed 1px;*/
}

.content {
/*	padding: 0 15px 0 15px;*/
}

.main_content {
	float: left;
	width: 680px;
	margin: 0;
/*	border: dashed 1px;	*/
}

.main_content h1, h2, h3, h4 {
	font-family: "Trebuchet MS", sans-serif;
}

.main_content h1 {
	font-size: 1.6em;	
	color: #1B9D95;
	font-weight: bold;
	margin: 0 0 1ex 0;	
}

.main_content h2 {
	font-size: 1.2em;
	color: #3C3809;
	font-weigth: bold;
	margin: 0 0 1ex 0;	
}

.main_content h4 {
	font-size: 1.1em;
	color: #666;
	font-weigth: bold;
	margin: 0 0 -1ex 0;
}

.right_content {
	float: right;
	width: 300px;
	border-left: solid 1px #CCC;
	padding: 0 0 0 10px;
	margin: 0;
}

.right_content h3 {
	font-size: 1.2em;
	color: #1B9D95;
	font-weigth: bold;
	margin: 0 0 1ex 0;
}

.right_content p {
	font-size: .8em;
	line-height: 1.2em;
	color: #666;
	margin: 0 0 1ex 0;
}

.right_content img {
	border: none;
	background: none;
	width: 200px;
	height: 200px;
	padding: 10px;
	margin: 0 20px;
}

.right_content img.product {
	border: 1px #CCC solid;
}

.clear {
	clear: both;	
}

.footer_spacer {
	width: 1010px;
	padding-top: 10px;
}

.footer {
	clear: both;
	margin: 0 auto;
	margin-top: 30;
	width: 1022px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.398438) 0 2px 4px;
}

.footer #footer_welcome {
	height: 40px;
	border: 1px solid;
	border-radius: 5px;
	background: url("../images/footer_image.png") 0px 120px;
}

.footer #footer_classifieds {
	height: 40px;
	border: 1px solid;
	border-radius: 5px;
	background: url("../images/footer_image.png") 0px 80px;
}

.footer #footer_contact {
	height: 40px;
	border: 1px solid;
	border-radius: 5px;
	background: url("../images/footer_image.png") 0px 40px;
}

.footer p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
	color: #FFF;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: center;
	line-height: 39px;
}

.footer a:link, a:visited {
	color: #FFF;
	text-decoration: none;
	background: none;
}

.footer a:hover {
	color: #CCC;
	text-decoration: none;
	border-bottom: #CCC dashed 1px;
	background: none;
}

.youtube_video {
/*	margin: 20px;*/
	padding: 5px;
	border: 1px solid #CCC;
	float: left;
}

.chat_now {
	position: fixed;
	right: 0;
	top: 200px;	
	z-index: 1;
	text-indent: 1000em;
}

.chat_now a:link, .chat_now a:visited {
	background: url("../images/chat_now.png") top left;
	width: 35px;
	height: 200px;
	display: block;
}

.chat_now a:hover {
	background-position: bottom left;
}

.buy_now {
	position: fixed;
	top: 200px;
	left: 0;
	text-indent: 1000em;
}

.buy_now a:link, a:visited {
	width: 35px;
	height: 200px;
	background: url("../images/buy_now.png") 0px 200px;
	display: block;
}

.buy_now a:hover {
	background-position: 0px 0px;
}

/*POST SHOW PAGE*/

.post_container {
	position: relative;
	margin: 0;
/*	border: dashed 1px #CCC;*/
	clear: both;
  color:#555555;
  font-size:11px;
}

.post_container #images {
	padding: 5px;
	width: 100px;
/*	border: dashed 1px #CCC;*/
	float: left;
}

.post_container #post {
	float: left;
	width: 530px;
	margin: 5px;
	padding: 0;
/*	border: solid 1px red;*/
}

.post_container #price {
	float:left;
  text-align: left;
	width: 100%;
	text-indent: 20px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	font-family: "Trebuchet MS"	;
	background: url("../images/pricetag.png") no-repeat;
	position: block;
/*	border: dashed red 1px;*/
}

.post_container #title {
	float: left;
	width: 530px;
	margin-top: 10px;
}

.post_container #city, #state, #zip, #date_posted {
	float: left;
	margin-right: 8px;
/*	border: dashed 1px red;*/
}

.post_container #description {
	margin-top: 10px;
	float: left;
	width: 530px;
}

.post_container_name {
	margin-top: 15px;
	border: 1px solid #CCC;
	background-color: #FEE;
	float: left;
	width: 100%;
	border-radius: 5px;
}

.post_container_name #name {
	padding: 10px;	
}

#edit_features {
	margin-top: 10px;
	float: left;
}

.category_list ul{
	list-style: none;
	padding: 0;	
	width: 250px;
}

.category_list ul li {
	margin-bottom: 10px;
	padding: 2px;
	padding-left: 10px;
	background-color: #F5E0CC;
	border: 1px solid #CC6600;
	border-radius: 3px;
}

.category_list ul li a:link, .category_list ul li a:visited {
	color: #666;
	text-decoration: none;
	display: block;
}

.category_list ul li a:hover {
/*	color: #666;*/
	text-decoration: none;
	background-color: none;
}

.category_list #list_highlight:hover {
	background-color: #EDC8A3;	
}

.alert {
	color: red;
	border: solid #F7EBEB 1px;
	border-radius: 3px;
	padding: 5px;
}

.notice {
	color: green;
	background-color: #EBF3EF;
	border: solid green 1px;
	border-radius: 3px;
	padding: 5px;
}