<div class="category_list">
	<h2>Browse By Category</h2>
	<ul>
		<% if can? :create, Category %>
			<li id="list_highlight"><%= link_to "New Category", new_category_path %></li>
		<% end %>
		<br />
			<li id="list_highlight"><%= link_to "All Posts (#{Post.count})", posts_path %></li>
		<% @categories.each do |category| %>
			<li id="list_highlight">
				<%= link_to "#{category.name} (#{category.posts.count})", category %>
			</li>
		<% end %>
	</ul>
</div>